.cardText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 4.2em;
}

#card_active {
  width: 300px;
  position: relative;
}

#card_active:hover {
  margin-top: 5px;
  box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
}
.green {
  background-color: rgb(10, 171, 10) !important;
  color: black !important;
}
.red {
  background-color: orangered !important;
  color: white !important;
}
