#form-add {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.outlined-basic {
  height: 65px;
}

#add-title {
  margin: 20px auto;
  width: 35%;
  font-size: 40px;
  text-align: center;
}
.cardText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 4.2em;
}
#card_active:hover {
  margin-top: 5px;
  box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px -8px 18px -4px rgba(0, 0, 0, 0.75);
}
